:root
{
    --SiteColorOne: rgb(66, 66, 66);
    --SiteColorTwo: rgb(255, 187, 207);
    --SiteColorThree: rgb(195, 138, 155);
    --PrimaryFont: GillSans, Arial, Helvetica, sans-serif;
    --PrimaryFontBold: GillSansBold, Arial, Helvetica, sans-serif;
    --SecondaryFont: Jost, Arial, Helvetica, sans-serif;
    --SecondaryFontBold: JostBold, Arial, Helvetica, sans-serif;
    --YTAspect: 840 / 473;
    --YTAspectTall: 840 / 657;
    --YTAspectWide: 1920 / 540;
}

@font-face
{
    font-family: GillSans;
    src: url(../Fonts/Gill-Sans-Bold.otf);
}

@font-face
{
    font-family: GillSansBold;
    src: url(../Fonts/Gill-Sans-Ultra-Bold.otf);
}

@font-face
{
    font-family: Jost;
    src: url(../Fonts/Jost-Regular.ttf);
}

@font-face
{
    font-family: JostBold;
    src: url(../Fonts/Jost-Bold.ttf);
}

/*
@font-face
{
    font-family: Carlito;
    src: url(../Fonts/Carlito-Regular.ttf);
}
*/

/*
@font-face
{
    font-family: Raleway;
    src: url(../Fonts/Raleway-Regular.ttf);
}
*/

html
{
    font-size: 62.5%;
}

a
{
    cursor: pointer;
}

h1
{
    color: black;
    font-family: var(--PrimaryFont);
    font-size: 6.8rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    line-height: 1;
    word-spacing: normal;
}

h2
{
    color: black;
    font-family: var(--SecondaryFont);
    font-size: 2.8rem;
    font-weight: 120;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    line-height: 1.6;
    word-spacing: normal;
}

h3
{
    color: black;
    font-family: var(--SecondaryFont);
    font-size: 2.2rem;
    font-weight: 120;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    line-height: 1.4;
    word-spacing: normal;
}

p
{
    color: black;
    font-family: var(--SecondaryFont);
    font-size: 1.8rem;
    font-weight: 100;
    font-style: normal;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    line-height: 1.6;
    word-spacing: normal;
}

.RegularSection
{
    margin: 0px 0px 0px 0px;
    padding: 60px 0px 60px 0px;

}

.RegularContainer
{
    margin: 0px auto 0px auto;
    padding: 0px 250px 0px 250px;
    max-width: 1400pt;
}

/*
body:after
{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../Img/Social/SocialIconGithubHover.png) url(../Img/Social/SocialIconLinkedInHover.png) url(../Img/Social/SocialIconTwitterHover.png) url(../Img/Social/SocialIconYoutubeHover.png) url(../Img/Social/SocialIconItchHover.png) url(../Img/Social/SocialIconInstagramHover.png);
}
*/

.MastheadImage
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 8cm;
    background-image: url(../Img/StillPendingBannerPink.png);
    background-size: 1400pt, cover;
    background-repeat: repeat;
    background-position: center;
    z-index: 800;
    position: static;
    top: 0px;
    display: block;
}

.NavBarHeader
{
    position: sticky;
    top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 80px;
    background-color: var(--SiteColorTwo);
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.247);
}

.NavBarLogo
{
    padding-left: 30px;
    width: fit-content;
    height: 100%;
    display: flex;
    column-gap: 5px;
}

.NavBarLogo img
{
    height: 50px;
    align-self: center;
}

.NavBarName
{
    margin-left: 20px;
    padding: 0px;
    color: var(--SiteColorOne);
    font-family: var(--PrimaryFontBold);
    font-size: 3.4rem;
    font-weight: 580;
    font-style: normal;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    word-spacing: normal;
    align-self: center;
}

.NavBar
{
    width: 120px;
    height: 100%;
    width: fit-content;
}

.NavBar ul
{
    margin: auto;
}

.NavBar ul li
{
    display: inline;
    float: left;
}

.NavBarPassivePage
{
    padding: 0 20px;
    display: block;
    height: 100%;
    font-family: var(--PrimaryFont);
    font-size: 30px;
    line-height: 74px;
    color: var(--SiteColorThree);
    font-weight: 450;
    transition: all ease-in-out 100ms;
}

.NavBarCurrentPage
{
    padding: 0 20px;
    display: block;
    height: 100%;
    font-family: var(--PrimaryFont);
    font-size: 30px;
    line-height: 74px;
    color: var(--SiteColorOne);
    font-weight: 450;
    text-decoration: underline;
    text-underline-offset: 8px;
    transition: all ease-in-out 100ms;
}

.NavBar ul li a:hover
{
    color: black;
    object-fit: cover;
    overflow: hidden;
}

.NavBarSocial
{
    padding-right: 30px;
    padding-left: 30px;
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 14px;
}

.NavBarSocialItch
{
    width: 24px;
    height: 24px;
    background: var(--SiteColorOne);
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: url(../Img/Social/SVGs/SocialIconItch.svg);
    mask-size: 24px 24px;
    mask-repeat: no-repeat;
    transition: all ease-in-out 100ms;
}

.NavBarSocialItch:hover
{
    background: black;
}

.NavBarSocialLinkedIn
{
    width: 24px;
    height: 24px;
    background: var(--SiteColorOne);
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: url(../Img/Social/SVGs/SocialIconLinkedIn.svg);
    mask-size: 24px 24px;
    mask-repeat: no-repeat;
    transition: all ease-in-out 100ms;
}

.NavBarSocialLinkedIn:hover
{
    background: black;
}

.NavBarSocialYoutube
{
    width: 24px;
    height: 24px;
    background: var(--SiteColorOne);
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: url(../Img/Social/SVGs/SocialIconYoutube.svg);
    mask-size: 24px 24px;
    mask-repeat: no-repeat;
    transition: all ease-in-out 100ms;
}

.NavBarSocialYoutube:hover
{
    background: black;
}

.NavBarSocialGit
{
    width: 24px;
    height: 24px;
    background: var(--SiteColorOne);
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: url(../Img/Social/SVGs/SocialIconGithub.svg);
    mask-size: 24px 24px;
    mask-repeat: no-repeat;
    transition: all ease-in-out 100ms;
}

.NavBarSocialGit:hover
{
    background: black;
}

.NavBarSocialTwitter
{
    width: 24px;
    height: 24px;
    background: var(--SiteColorOne);
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: url(../Img/Social/SVGs/SocialIconTwitter.svg);
    mask-size: 24px 24px;
    mask-repeat: no-repeat;
    transition: all ease-in-out 100ms;
}

.NavBarSocialTwitter:hover
{
    background: black;
}

.NavBarSocialInstagram
{
    width: 24px;
    height: 24px;
    background: var(--SiteColorOne);
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: url(../Img/Social/SVGs/SocialIconInstagram.svg);
    mask-size: 24px 24px;
    mask-repeat: no-repeat;
    transition: all ease-in-out 100ms;
}

.NavBarSocialInstagram:hover
{
    background: black;
}

.NavBarSocialFacebook
{
    width: 24px;
    height: 24px;
    background: var(--SiteColorOne);
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: url(../Img/Social/SVGs/SocialIconFacebook.svg);
    mask-size: 24px 24px;
    mask-repeat: no-repeat;
    transition: all ease-in-out 100ms;
}

.NavBarSocialFacebook:hover
{
    background: black;
}

.FooterContainer
{
    width: 100%;
    padding: 30px 0px 30px 0px;
    background-color: var(--SiteColorOne);
}

.FooterContactInfo h2
{
    margin: 10px 0px;
    padding: 0px;
    color: white;
    line-height: 1.4;
    font-family: var(--PrimaryFontBold);
    font-size: 2.0rem;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    word-spacing: normal;
    text-transform: uppercase;
    letter-spacing: 0.38pt;
}

.FooterContactInfo h3
{
    margin: 4px 0px;
    padding: 0px;
    color: white;
    line-height: 1.5;
    font-family: var(--PrimaryFont);
    font-size: 1.6rem;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    word-spacing: normal;
    text-transform: uppercase;
    letter-spacing: 0.38pt;
}

.FooterCopyright
{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 1.4rem;
}

.ProjectGithubButton
{
    margin: 24px auto;
    width: 14vw;
    height: 60px;
    background-color: var(--SiteColorOne);
    border-radius: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.ProjectGithubButton p
{
    color: white;
    font-size: 1.8rem;
}

.ProjectGithubButton img
{
    width: 32px;
    height: 32px;
}

.ProjectGithubButton:hover
{
    background-color: black;
}

.ButtonList
{
    margin-top: 24px;
}

.MobileNavMenu, .MobileNavBarSocial, .BurgerMenuButton
{
    display: none;
}